/* ===================== TABLE OF CONTENT =======================

1. COMMON CSS
2. Home Page   
3. Search Results Page
================================================================= */

/* ================================================================================== 
									1.	Common Css
===================================================================================== */

html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  font-size: 15px;
  font-weight: 400;
  color: #333;
}
h2{
  font-weight:700;
  font-size:40px;
  color:#333;
}
p{
  color:#666;
}
a:hover{
  transition:0.2s;
}
/* ================================================================================== 
									2.	Home Page
===================================================================================== */
.header-banner-wrap{
  background:url("../images/main-banner-bg.jpg");
  height:100vh;
  background-size:cover;
  background-repeat:no-repeat;
  position:relative;
  z-index:99;
  align-items:center;
  justify-content:center;
  /* padding-top:200px; */
}
.header-banner-wrap:before{
  content:'';
  background:rgba(0,0,0,0.4);
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index:-1;
}
.logo{
  padding:30px 0; 
  position:absolute;
  top:0;
}
.logo a h1{
  color:#fff;
  text-transform:uppercase;
  font-weight:900;
  font-size:40px;
}

.logo a span{
  color:#2874F0;
}
.logo a:hover{
  text-decoration:none;
}
.banner-content{
  color:#fff;
  text-align:center;
}
.banner-content h2{
  font-size:40px;
  font-weight:700;
  color:#fff;
}
.banner-content p{
  font-size:24px;
  margin-top:15px;
  color:#fff;
}
@media(min-width:768px){
  .search-form input.form-control{
    width:600px;
  }
}

.search-form{
  justify-content:center;
  margin-top:30px;

}
.search-form-image-wrap{
  position: relative;
}
.search-form .form-control{
  height:60px;
  padding:0 30px;
  padding-right:80px;
  border-radius:5px 0 0 5px;
}
.search-form .btn-submit{
  background:#2874F0;
  color:#fff;
  height:60px;
  padding:0 40px;
  border-radius:0 5px 5px 0;
}
.search-form .image-search-form{
  position:absolute;
  right:15px;
  top:50%;
  transform:translateY(-50%);
}
.search-form .image-search-form .image-search-btn{
 padding:15px;
}
.search-form svg{
  height:20px;
}
.image-search-dropdown{
  position:absolute;
  background:#fff;
  padding:15px;
  color:#333;
  width:400px;
  right:-15px;
  border-radius:5px;
  border:1px solid #ccc;
  margin-top:15px;
  display:none;
}
.image-search-dropdown p{
  font-size:16px;
  margin-top:0;
  color:#666;
}
.image-search-dropdown .image-upload-area{
  border:2px dashed #ccc;
  border-radius:5px;
  padding:30px 15px;
  margin-top:15px;
}
.image-search-dropdown .custom-file-label::after{
  display:none;
}
.image-search-dropdown .custom-file{
  width:150px;
  margin-top:15px;
}
.image-search-dropdown .custom-file-input{
  cursor: pointer;
}
.image-search-dropdown .custom-file label{
  background:#2874F0;
  color:#fff;
  padding:20px;
}
.image-search-dropdown.active{
  display:block;
}

/* ================================================================================== 
									3.	Search Results Page
===================================================================================== */
.inner-page-header{
  background:url("../images/inner-page-bg.jpg");
  height:300px;
  background-repeat:no-repeat;
}
.inner-page-header:before{
  display:none;
}
.image-search-results-wrap{
  margin-bottom:50px;
}
.image-search-heading-wrap{
  padding:40px 0;
}
.image-search-heading-wrap .main-image img{
  border:1px solid #2874F0;
  padding:10px;
}
.image-search-heading p{
  font-size:20px;
}

.image-search-results-ad-wrap{
  padding:40px 0;
}
.image-search-results .image-item{
  margin-bottom:30px;
}
.image-search-results .image-desc a{
  color:#888;
}
.image-search-results .image-desc h5 a{
  color:#333;
}
.image-search-results .image-desc h5 a:hover{
  color:#2874F0;
  text-decoration:none;
}
.ad-section .ad-image{
  margin-bottom:30px;
}
.pagination .page-item{
  margin-right:10px;
}
.pagination .page-item .page-link{
  border-radius:0;
  padding:10px 15px;
  color:#666;
}
.pagination .page-item.active .page-link{
  color:#fff;
  background:#2874F0;
}
footer{
  background:#222;
  text-align:center;
  color:#fff;
}
.footer-content{
  padding:50px 0;
}
.footer-content h2{
  text-transform:uppercase;
  color:#fff;
}
.footer-content p{
  width:80%;
  margin:0 auto;
  color:#fff;
}
.footer-bottom{
  border-top:1px solid #666;
  padding:30px 0;
}
.social-icons{
  list-style:none;
}
.social-icons li{
  display:inline-block;
  margin:10px;
}
.social-icons li a{
  color:#fff;
  padding:5px;
  font-size:20px;
}
.footer-menu ul{
  list-style:none;
}
.footer-menu ul li{
  display:inline-block;
  margin-right:15px;
}
.copyright p,
.footer-menu ul li a
{
  color:#fff;
}
.footer-menu ul li a{
  font-weight:600;
}
.social-icons li a:hover,
.footer-menu ul li a:hover
{
  color:#2874F0;
  text-decoration:none;
}